#users>.user-14{
    color:rgb(255, 255, 255);
    text-shadow: 0px 10px 5px #000;
    font-size: 15px;
    background-image: url(https://cdn.discordapp.com/attachments/1056555233246974022/1059119385983328396/-1.png);
    height: 200px;
    width: 200px;
    border-radius: 60px;
    background-repeat: no-repeat;
    text-align: center;
    background-size: 100% 100%;
}